################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TheChosenCarAPI.BusinessLogic/obj/Debug/netcoreapp3.1
